<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <section>
        <h2 id="name">{{ restaurant.get('name') }}</h2>
        <img src={{ restaurant.get('image_url') }} alt="Picture of nature"/>
        <p id="location"> {{ location }}</p>
        <div class="data-table">
            <div class="grid-container">
                <p class="grid-item">Price: </p>
                <p class="grid-item">{{ restaurant.get('price') }}</p>
            </div>
            <hr>
            <div class="grid-container">
                <p class="grid-item">Rating: </p>
                <p class="grid-item">{{ restaurant.get('rating') }}</p>
            </div>
            <hr>
            <div class="grid-container">
                <p class="grid-item"># Reviews: </p>
                <p class="grid-item">{{ restaurant.get('review_count') }}</p>
            </div>
            <hr>
        </div>
        
        
    </section>
</body>
</html>

